.dashboard_card {
  .ICICI_card_content {
    display: flex;
    justify-content: space-between;
    p {
      margin-bottom: 0;
      color: #8181a5;
      font-weight: 500;
      font-size: 10px;
      line-height: 24px;
    }
  }
}
