.footer {
  box-shadow: 0px -4px 24px rgba(85, 22, 170, 0.1);
  width: 100%;
  position: absolute;
  bottom: 0;
  .footer_content {
    display: grid;
    place-content: center;
    row-gap: 6px;
    color: #898989;
    font-weight: 400;
    font-size: 12px;
  }
}
