* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  background-color: #eeeeee;
  display: grid;
  place-content: center;
}
.main_container {
  max-width: 380px;
  padding: 1rem;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: min-content !important;
}
::-webkit-scrollbar {
  width: 2px;
  background-color: #eee;
}
